<div class="card shadow mb-4">
    <div class="card-header py-4 bg-gray-200">
        <h4 class="m-0 font-weight-bold text-primary">About Puppy Bank</h6>
    </div>
    </br>
    <div class="card-body p-4">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6 mb-4">

                <!-- Getting Started -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Getting Started</h6>
                    </div>
                    <div class="card-body">
                        <p>Navigation is simple. Features are available on the sidebar. Create your user
                            and puppy account to
                            start processing transactions. It's pretty easy!</p>
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 40rem;" src="img/puppybank.gif"
                            alt="">


                    </div>
                </div>

                <!-- Why it was made? -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Why it was made?</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;"
                                src="img/undraw_lightbulb_moment_evxr.svg" alt="">
                        </div>
                        <p>Hey there! So, I’m <strong>Vince Reyes</strong>, and I work on Test Automation
                            Projects. I'm always on the lookout for new test automation tools and modern ways of
                            working in the world of QA and Test Automation.
                        </p>
                        <p>To keep myself up-to-date, I need a web application to play with. But I can't use
                            public websites because I don't have control over the changes they make. So I need a
                            controlled environment, a web application running on my local machine.
                        </p>
                        <p>
                            And that's why I decided to create one myself - <strong>Puppy Bank.</strong> Cool,
                            right?
                        </p>
                        <a target="_blank" rel="nofollow" href="https://vncrtech.medium.com/">More
                            information &rarr;</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <!-- PuppyBank Features -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Puppy Bank Features</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                src="img/undraw_wallet_aym5.svg" alt="">
                        </div>
                        <p><strong>Puppy Bank</strong> is an imaginary bank for puppies. It is a web application
                            where puppies can process transactions such as deposits, withdrawals, and transfers.
                        </p>
                        <p>Below is the list of modules and actions available.</p>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr class="text-center">
                                        <th>Module</th>
                                        <th>Create</th>
                                        <th>View</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center">
                                        <td>System User</td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Puppy Account</td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Deposit</td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Withdraw</td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Transfer</td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Dashboard</td>
                                        <td></td>
                                        <td>
                                            <div class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Source -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Sources</h6>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>GitHub: <a href="https://github.com/vncrtech/puppybank" target="_blank">Puppy
                                    Bank</a></li>
                            <li>Docker Hub: <a href="https://hub.docker.com/r/vncrtech/puppybank" target="_blank">Puppy
                                    Bank</a></li>
                            <li>Bootstrap Template: <a href="https://startbootstrap.com/theme/sb-admin-2/"
                                    target="_blank">SB
                                    Admin 2</a></li>
                            <li>Project Article: <a
                                    href="https://vncrtech.medium.com/practice-test-automation-using-a-local-web-application-f8310ca37637"
                                    target="_blank">Practice Test
                                    Automation</a></li>
                            <li>For Collaboration: <a href="mailto:vncr.tech@gmail.com">vncr.tech@gmail.com</a></li>
                        </ul>
                        <!--                <p></p>-->
                    </div>
                </div>
            </div>
        </div>

        <a href="{% url 'app_dashboard:dashboard' %}" class="btn btn-primary btn-icon-split btn-lg text-center">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Explore Now</span>
        </a>
    </div>
</div>