{% extends "base_template.html" %}

{% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{% block table_title %}{% endblock %}</h6>
    </div>
    <div class="card-body">
        <div class="text-left">
            <button {{ confirm_hidden }} class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <a class="text text-gray-100" href="{% block create_new %}{% endblock %}">Create New</a>
            </button>
        </div>
        <div class="dropdown-divider"></div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        {% block table_headers %}{% endblock %}
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        {% block table_footers %}{% endblock %}
                    </tr>
                </tfoot>
                <tbody>
                    {% block table_body %}{% endblock %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}